  <!-- home secttion -->
    <div class="homepage">
      <div class="container">
        <div class="row ">
          <div class="col-sm-6 my-5 col-lg-6 hh "><h1 class="my-3">welcome to <span>Resturnt</span></h1>
            <p class="mt-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit excepturi ad ut quia</p>
            <button type="button" class="btn btn-warning" routerLink="/child2">MENU</button>
            <button type="button" class="btn btn-outline-warning mx-5">BOOK TABLE</button>
          </div>
          
        
  <div class="col-sm-6  col-lg-6">
          <!-- <img src="../../assets/—Pngtree—chicken biryani top view_9171063.png" alt="" class="img-fluid "> --> 
           <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"> 
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..//../assets/home1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="..//../assets/home2 (1).png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item imgsize">
                <img src="..//./../assets/home3 (2).png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div> 
        
</div>
 
</div>

 </div>
</div> 






