*{
    /* padding: 0%;
    margin: 0; */
    box-sizing: border-box;
    overflow: hidden;
    
    
}
/* @media only screen and (max-width:570px) {
    .side{
        margin-left:10px;
    }
    

} */
/* .customcard{
    width: 18rem;
} */
/* backround color */
/* .bkcolr{
    background-color: beige;
 
} */
/* top h1 */
/* .frh1{
    color: rgb(253, 229, 14);
    font-style:italic;
} */